[submodule "jsMath"]
	path = jsMath
	url = https://github.com/COMPSCI290-S2016/jsMath.git
[submodule "syntaxhighlighter"]
	path = syntaxhighlighter
	url = https://github.com/COMPSCI290-S2016/syntaxhighlighter.git
[submodule "Software/jsTDA/DREiMac"]
	path = Software/jsTDA/DREiMac
	url = https://github.com/ctralie/DREiMac.git
[submodule "smokeStack"]
	path = smokeStack
	url = https://github.com/SKutai/smokeStack.git
[submodule "Research/SSMTW"]
	path = Research/SSMTW
	url = https://github.com/ctraliedotcom/SSMTW.git
[submodule "Research/SWVQuasi"]
	path = Research/SWVQuasi
	url = https://github.com/ctraliedotcom/SWVQuasi.git
[submodule "Research/SloMoLoops"]
	path = Research/SloMoLoops
	url = https://github.com/ctraliedotcom/SloMoLoops.git
[submodule "PrincetonUGRAD"]
	path = PrincetonUGRAD
	url = https://github.com/ctraliedotcom/PrincetonUGRAD.git
[submodule "Research/SlidingWindowVideo-SOCG2016"]
	path = Research/SlidingWindowVideo-SOCG2016
	url = https://github.com/ctraliedotcom/SlidingWindowVideo-SOCG2016.git
